body {
  /* width: 1280px; */
  margin: 0 auto;
}

.navigation {
  width: auto;
  padding: 25px 0;
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin-right: 50px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  text-decoration: none;
}

.img-main {
  width: 1280px;
  height: 789px;
}

.header-main-section {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  margin: 48px 0 38px;
  text-align: center;
}

.text-main-section {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 0 67.5px;
  padding-bottom: 28px;
}

.btn-main-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 43.5px 17px 42.5px;
  margin-top: 38px;
  margin-bottom: 42px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff0000;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.text-footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
  padding: 40px 105px 29px 713px;
}
